.flexContainer:last-child {
    margin-top: 2px;
}

body {
    margin: 0;
    padding: 0;
}

div {
    height: 50px;
    width: 50px;
}

div:nth-child(1) {
    background-color: red;
    width: 50px;
    height: 50px;
}

div:nth-child(2) {
    background-color: blue;
    width: 50px;
    height: 50px;
}

div:nth-child(3) {
    background-color: green;
    width: 50px;
    height: 50px;
}

div:nth-child(4) {
    background-color: yellow;
    width: 50px;
    height: 50px;
}

div:nth-child(5) {
    background-color: pink;
    width: 50px;
    height: 50px;
}

div:nth-child(6) {
    background-color: black;
    width: 50px;
    height: 50px;
}

div:nth-child(7) {
    background-color: orange;
    width: 50px;
    height: 50px;
}

div:nth-child(8) {
    background-color: silver;
    width: 50px;
    height: 50px;
}

.flexContainer {
    display: flex;
}

.flexItem{
    flex-grow: 0;
    flex-shrink: 1;
    /* flex-shrink: 0; não permite a diminuição dos elementos*/
    /* flex: 1 1; Forma abreviada de flex-grow + flex-shrink*/
    flex-basis: 25%; /*Define a largura do elemento*/
}

.primeiro{
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}